.row {
  margin-bottom: 1rem;
  display: grid;
}
.row:last-child {
  margin-bottom: 0;
}

.pos-1 {
  order: 1;
}
.pos-2 {
  order: 2;
}
.pos-3 {
  order: 3;
}
.pos-4 {
  order: 4;
}


div[class*="col-"] {
  border: 2px solid black;
  padding: .5em;
  margin-right: 2%;
}

nav {
  grid-template-columns: repeat(3, 6em) auto;
}
body {
  grid-template-rows: 0 1fr auto 1fr;
  height: 90vh;
}
main {
  grid-template-columns: 2fr 3fr;
  grid-column-gap: 2em;
  grid-template-rows: 3em auto;
}
aside {
  display: inline-block;
  grid-row: 1 / 10;
  height: 100%;
}

.semi-row {
  grid-template-columns: 1fr 1fr 1fr;
}


.title {
  grid-column: 1 / span 3;
  width: 100%;
}

.pull-right {
  margin-left: auto;
}

@media (max-width: 900px) {
  .semi-row {
    grid-template-columns: 1fr 1fr;
  }
  .title {
    grid-column: 1 / span 2;
  }
}

@media (max-width: 600px) {
  .semi-row {
    grid-template-columns: 1fr 1fr;
  }
  main {
    grid-template-columns: 1fr;
    grid-column-gap: 0;
  }
  body {
    height: 100%;
  }
  aside {
    grid-column: 1 / span 2;
  }
  .title {
    grid-column: 1 / span 2;
  }
}

@media  (max-width:400px) {
  .pull-right {
    margin-left: 0;
  }
  nav {
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
  }
}