body {
	font-family: 'Josefin Slab', serif; font-weight: 600;
	font-size: 14pt;
  width: 100%;
  line-height: 1.4;
  margin: 0;
}

.main {
  margin: auto;
  height: 640px;
  width: 1000px;
  padding-top: 2em;
}
/* Sidebar */
.sidebar {
  color: rgb(51,51,51);
  width: 11em;
  background-color: rgb(248, 248, 248);
  margin-right: .5em;
  border-radius: 4px;
  border-width: 2px;
  border-style: solid;
  border-color: rgb(230,230,230);
  height: 100%;
  float: left;
  display: inline-block;

}
.sidebar-header {
  text-align: center;
  font-size: 1.75em;
  padding-top: .3em;
  line-height: 1;
}

.sidebar-element {
  padding-left: 0;
}

.sidebar-element>li {
  border-radius: 4px;

  list-style: none;
  padding: .25em .5em;
  margin: .5em .3em;
}

.sidebar-buttons>li:hover {
  background-color: rgb(220,220,220);
  transition: background 250ms ease-out;
}

.sidebar-element>li>a {
  color: rgb(35, 82, 124);
  text-decoration: none;
}

.sidebar-hr {
  margin: 0 .5em;
  border-color: rgb(232,232,232);
  opacity: .5;
}

/* End Sidebar */

/* Content */

.content {
  float: left;
  display: inline-block;
  width: calc(100% - 11.75em);
  height: 100%;
}

.content-panel {
  border-style: solid;
  height: 100%;
  width: calc(100% - 2px);
  border-radius: 4px;
  border-width: 2px;
  border-color: black;
  color: rgb(51,51,51);
  background-color: rgb(238,238,238);
}

.major-heading {
}

.major-heading>h2 {
  margin: .3em;
}

.minor-heading {
	font-size: 120%;
	font-style: italic;
}

.no-scroll {
  padding: 0 .5em;
	overflow: hidden;
}

.viewport {
	overflow: auto;
}

.viewport>p {
  margin-top: 0;
}

.headshot {
  float: left;
  margin-top: 0;
  margin-left: 0;
  margin-right: 8px;
  padding: 4px;
  background-color: white;
}
/* End Content*/

.copyright-notice {
  text-align: center;
  padding-top: 1em;
  font-size: 16px;
  clear: left;
}

.container .jumbotron {
	padding-top: 8px;
	padding-left: 0px;
	padding-right: 0px;

	padding-bottom: 8px;
	margin-bottom: 0px;

	background-color: #DDD;
}
